/* Contact form */
.contact-form {
  text-align: left;
  margin-top: 1.5em;
  font-size: 0.8rem;
}

textarea {
  height: 15em;
  border: 1px #cfcfcf solid;
}

label {
  font-size: 1.15em;
}

.butn {
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #4aaaa5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
}

.butn:hover {
  background: #5ee0d7;
  text-decoration: none;
}

input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px #4aaaa5;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #4aaaa5;
}