figure {
	margin: 0;
	line-height: 0;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* padding-right: 20%; */
	margin: 0 1em 3em 1em;
}

figcaption {
	font-size: 0.9em;
	line-height: 1.5;
	color: #fff;
	padding: 0.8em 0;
	background: #4aaaa5;
	position: absolute;
	bottom: 3%;
	width: 250px;
	text-align: center;
	font-size: 18px;
	font-style: bold;
}

img {
	width: 100%;
}

.port-img {
	max-width: 80%;
}

.last {
	background-image: url("http://placeimg.com/250/180/arch");
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 180px;
}

figure.last:hover {
	background: url("../images/obama/obama3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.last>figcaption {
	line-height: 0.3;
	text-align: center;
	margin: 0;
	padding-bottom: -50;
	top: 115px;
}

.small {
	line-height: 05;
	font-size: 10px;
	font-style: italic;
}