body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  position: relative;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

h2,
h3 {
  font-size: 22px;
}

ul {
  padding: 0;
  width: 100%;
  margin: 0;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 20px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

h3,
h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  width: 100vw;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 10em;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
  list-style: none;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: .8em 0;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
  width: 6em;
  text-align: center;
}



/* ANIMATIONS */

.bounce-top{-webkit-animation:bounce-top .9s both;animation:bounce-top .9s both}


/* Media Queries */

/* Desktop =================================*/
@media only screen and (max-width: 980px) {
  .container {
    width: 70%;
    margin-left: 1em;
    font-size: 20px;
  }

  .work {
    width: 45%;
  }

  #masthead {
    width: 100vw !important;
    padding: 0;
  }

  #main-container {
    width: 60%;
  }

  ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .auth-image {
    width: 25vw;
  }

  .nav.container {
    width: 100vw;
    padding-right: 100px;
  }

  .main-section {
    margin-bottom: 10em;
    font-size: 18px;
    line-height: 1.5;
  }

  .container.footer {
    width: 100%;
    margin: 0 auto;
    padding: 0.4em 0;
    font-size: 1em;
  }

  .container.footer.portfoot {
    display: none;
  }
}

/* Tablet =================================*/

@media only screen and (max-width: 780px) {
  .container.footer{
    padding: 0;
  }

  .auth-image {
    width: 50vw;
  }

  .main-section {
    width: 95vw;
    padding: 1em;
    line-height: 1.6;
  }

  .container {
    width: 100%;
    height: 100%;
  }


  .nav.container {
    padding-right: 50px;
  }

  ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .work {
    width: 45%;
  }
}

/* Phone ============================*/

@media only screen and (max-width: 640px) {

  #masthead {
    position: fixed;
    display: block;
  }

  a#logo {
    width: 100vw;
    margin: 0 auto;
  }

  .nav.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
  }

  nav {
    display: block;
    text-align: center;
    float: none;
    margin: 0 0 20px;
  }

  nav a {
    margin-top: 1em;
    padding-right: 10px;
    height: 1.5em;
  }

  .main-section {
    width: 100%;
    font-size: 1.3em;
    margin-top: 30%;
    /* padding: 4em; */
  }

  .auth-image {
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
  }

  p {
    display: block;
  }

  .container.footer {
    width: 100%;
    margin: 0 auto;
    padding: 0.8em 0;
  }

  .work {
    width: 80vw;
  }

  ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  input[type="submit"] {
    /* width: 5em; */
    /* text-align: center; */
  }

  #main-container{
    width: 100vw;
    margin: 0;
    padding:  1em;
    display: block;
  }

  body {
    width: 100vw;
}


}