/* Main TAGS */

body {
  line-height: 1.5;
  font-size: 0.8em;
  color: #777777;
  background-image: url("../images/concrete_seamless.png");
  background-repeat: repeat;
  margin: 0 auto;
  font-family: "Arial", "Helvetica Neue", "Helvetica, sans-serif";
}

header {
  background-color: white;
  margin: 0 auto;
  border-bottom: #dddddd 1px solid;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: white;
}

h2 {
  font-size: 1.8em;
}

li {
  border-right: #cfcfcf solid 1px;
  padding-left: 10px;
  padding-right: 10px;
}

/* link tags */

a:visited {
  color: rgba(112, 216, 219, 0.774);
}

a:hover {
  color: rgb(105, 187, 187);
  background-color: none;
  border-radius: 5px;
}

li:last-child {
  border-right: 0;
}

a {
  color: #777777;
}

a:focus {
}

a:active {
}

/* Class Tags */

.name {
  color: #ffffff;
  background-color: #4aaaa5;
  display: inline-block;
  padding: 25px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  width: 200px;
  margin-left: -20px;
}

.name:hover {
  background: #bac3c4;
  /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #bac3c4 0%,
    #4aaaa5 100%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #bac3c4 0%,
    #4aaaa5 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #bac3c4 0%, #4aaaa5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac3c4', endColorstr='#4aaaa5', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  colorformat: Comments;
}

.head-one {
  text-align: left;
  color: #4aaaa5;
  padding: 1em 1em 0.4em 1em;
  border-bottom: #dddddd 1px solid;
  margin: 0 0 1em 0;
}

.Main-content {
  border: #dddddd 1px solid;
  margin-bottom: 40%;
  padding: 1.5em;
  background-color: #ffffff;
  margin: 10em auto;
  width: 940px;
  display: block;
}

.main-header {
  width: 940px;
  margin: 0 auto;
}

.nav {
  display: inline-block;
  list-style: none;
  float: right;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.nav > li {
  margin: 0;
  display: inline-flex;
  height: 100%;
}

.footer {
  border-top: #4aaaa5 8px solid;
  background-color: #666666;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 10px;
}

.foot {
  display: block;
  position: absolute;
  margin: 0 auto;
  right: 50%;
  left: 45%;
}

.main-image {
  float: left;
  padding-right: 15px;
  margin-left: 20px;
}

.second {
  font-size: 1.1em;
  padding-right: 5%;
  text-align: left;
  padding: 0 5% 0 0;
  margin-left: 20px;
}

/* Contact form */
.contact-form {
}
